<template>
  <div class="h-full">
    <nav class="flex items-center" role="navigation">
      <div>asdassss</div>
    </nav>
  </div>
</template>

<script setup>
// import { onMounted } from 'vue'

// import { useThemeStore } from '~/store/global'

// const localePath = useLocalePath()
// const { locale } = useI18n()

// const theme = useThemeStore()

// const showMenu = ref(false)

// const el = ref(null)

// const menus = await useFetchMenus()

// onMounted(() => {
//   el.value = document.getElementById('navbar-default')

//   window.addEventListener('click', onClickOutside)
// })

// const onClickOutside = e => {
//   if (
//     e.target !== el.value &&
//     e.target !== document.getElementById('buttonShowMenu')
//   ) {
//     showMenu.value = false
//   }
// }
</script>

<style lang="scss" scoped></style>
