<template>
  <header class="header" :class="{ 'header-splash': isSplash }">
    <div class="nav">
      <NuxtLink class="text-3xl font-mono" :to="localePath(`/`)">
        <nuxt-img
          :src="
            isSplash
              ? '/assets/img/baze-flat-icon.png'
              : '/assets/img/site-logo.png'
          "
          alt="Logo"
          loading="lazy"
          quality="80"
          class="logo"
        />
      </NuxtLink>
      <NuxtLink :to="localePath('/')">
        <div class="title">
          {{ isSplash ? 'Baze UI' : 'SuitBaze' }}
        </div>
      </NuxtLink>
    </div>
  </header>
</template>

<script setup>
const localePath = useLocalePath()

defineProps({
  isSplash: {
    type: Boolean,
    default: false,
    required: false
  }
})
</script>
