import type { FormItem } from '#build/components';
<template>
  <div>
    <h2 class="title">Form</h2>
    <form
      id="form-default"
      role="form"
      class="form form--horizontal"
      @submit.prevent="handleSubmit"
    >
      <FormItem id="form1-text" label="Text Input">
        <Input v-model="formData.text" placeholder="Text" name="form1-text" />
      </FormItem>
      <FormItem id="form1-full-width" label="Full Width Input">
        <Input
          v-model="formData.fullWidth"
          placeholder="Full Width Input"
          width="full"
          name="form1-full-width"
        />
      </FormItem>
      <FormItem id="form1-password" label="Password Input">
        <Input
          v-model="formData.password"
          placeholder="Password"
          type="password"
          name="form1-password"
        />
      </FormItem>
      <FormItem id="form1-email" label="Email Address">
        <Input
          v-model="formData.email"
          placeholder="Email Address"
          type="email"
          name="form1-email"
        />
      </FormItem>
      <FormItem id="form1-number" label="Number Input">
        <Input
          v-model="formData.number"
          placeholder="Number Input"
          type="number"
          name="form1-number"
        />
      </FormItem>
      <FormItem id="form1-single-file" label="Single File Input (Full Width)">
        <div class="flex gap-x-1 relative">
          <Input
            placeholder="Single File Input"
            type="file"
            width="full"
            name="form1-single-file"
            @change="handleSingleFile"
          />
          <div class="form-file-name">
            {{ formData.file }}
          </div>
          <label
            for="form1-single-file"
            class="btn btn--contained btn--normal btn--primary"
          >
            Browse
          </label>
        </div>
      </FormItem>
      <FormItem id="form1-multiple-file" label="Multiple File Input">
        <div class="flex gap-x-1 relative">
          <Input
            placeholder="Multiple File Input"
            type="file"
            width="full"
            name="form1-multiple-file"
            multiple
            @change="handleMultipleFile"
          />
          <div class="form-file-name">
            {{ formData.multipleFile }}
          </div>
          <label
            for="form1-multiple-file"
            class="btn btn--contained btn--normal btn--primary"
          >
            Browse
          </label>
        </div>
      </FormItem>
      <FormItem id="form1-textarea" label="Textarea Input">
        <Input
          v-model="formData.textarea"
          placeholder="Textarea Input"
          type="textarea"
          name="form1-textarea"
        />
      </FormItem>
      <FormItem id="form1-disabled" label="Disabled Input">
        <Input
          placeholder="Disabled Input"
          name="form1-disabled"
          :disabled="true"
        />
      </FormItem>
      <FormItem id="form1-readonly" label="Readonly Input">
        <Input
          v-model="formData.readonly"
          :readonly="true"
          placeholder="Readonly Input"
          name="form1-readonly"
        />
      </FormItem>
      <FormItem id="form1-dropdown" label="Dropdown Select">
        <select
          id="form1-dropdown"
          class="input input--l"
          name="form1-dropdown"
          placeholder="Read only"
        >
          <option value="option-1">Option 1</option>
          <option value="option-2">Option 2</option>
          <option value="option-3">Option 3</option>
        </select>
      </FormItem>
      <FormItem id="form1-radio" label="Radio Buttons">
        <div class="h-full py-[6px] flex items-center">
          <input id="option-1" type="radio" name="option" value="option-1" />
          <label for="option-1" class="ml-1 mr-3">Option 1</label>
          <input id="option-2" type="radio" name="option" value="option-2" />
          <label for="option-2" class="ml-1 mr-3">Option 2</label>
          <input id="option-3" type="radio" name="option" value="option-3" />
          <label for="option-3" class="ml-1 mr-3">Option 3</label>
        </div>
      </FormItem>
      <FormItem id="form1-checkbox" label="Checkbox">
        <div class="py-[6px] flex items-center">
          <input
            id="checkbox-option-1"
            type="checkbox"
            name="option"
            value="checkbox-option-1"
          />
          <label for="checkbox-option-1" class="ml-1 mr-3">Option 1</label>
          <input
            id="checkbox-option-2"
            type="checkbox"
            name="option"
            value="checkbox-option-2"
          />
          <label for="checkbox-option-2" class="ml-1 mr-3">Option 2</label>
          <input
            id="checkbox-option-3"
            type="checkbox"
            name="option"
            value="checkbox-option-3"
          />
          <label for="checkbox-option-3" class="ml-1 mr-3">Option 3</label>
        </div>
      </FormItem>
      <div class="bzg_c" data-col="s12,m8,l8" data-offset="m4,l4">
        <Button id="form-layout-horiz" type="submit">Submit</Button>
      </div>
    </form>
    <highlightjs class="highlight" lang="xml" :code="code.default" />
  </div>
</template>

<script setup>
import code from '../data/code/forms.json'

const formData = ref({
  text: '',
  fullWidth: '',
  password: '',
  email: '',
  number: '',
  file: '',
  multipleFile: '',
  textarea: '',
  disabled: '',
  readonly: ''
})

const handleSingleFile = e => {
  formData.value.file = e?.files[0]?.name
}

const handleMultipleFile = e => {
  const files = e.files?.length
  if (files > 0) {
    formData.value.multipleFile = `${files} files selected`
  }
}

const handleSubmit = e => {
  alert(JSON.stringify(formData.value))
}
</script>
