<template>
  <div>
    <h2 class="title">Form Validation</h2>
    <form
      id="form-validation"
      role="form"
      class="form form--horizontal"
      @submit.prevent="handleSubmit"
    >
      <FormItem id="form-validation-username" label="Username">
        <div class="flex items-center gap-2">
          <Input
            v-model="formData.username"
            name="form-validation-username"
            placeholder="Username"
            :error="v$.username.$error"
            @blur="v$.username.$touch()"
          />
          <span
            v-for="error in v$.username.$errors"
            :key="error.$uid"
            class="text-danger text-sm text-left"
          >
            {{ error.$message }}
          </span>
        </div>
      </FormItem>
      <FormItem id="form-validation-email" label="Email">
        <div class="flex items-center gap-2">
          <Input
            v-model="formData.email"
            name="form-validation-email"
            placeholder="Email"
            type="email"
            :error="v$.email.$error"
            @blur="v$.email.$touch()"
          />
          <span
            v-for="error in v$.email.$errors"
            :key="error.$uid"
            class="text-danger text-sm text-left"
          >
            {{ error.$message }}
          </span>
        </div>
      </FormItem>
      <FormItem id="form-validation-birthdate" label="BirthDate">
        <div class="flex items-center gap-2">
          <Input
            v-model="formData.birthDate"
            name="form-validation-birthdate"
            placeholder="Birthdate"
            type="date"
            :error="v$.birthDate.$error"
            @blur="v$.birthDate.$touch()"
          />
          <span
            v-for="error in v$.birthDate.$errors"
            :key="error.$uid"
            class="text-danger text-sm text-left"
          >
            {{ error.$message }}
          </span>
        </div>
      </FormItem>
      <FormItem id="form-validation-birthdate" label="Gender">
        <div class="flex pt-[6px] items-center gap-2">
          <div class="flex items-center">
            <input
              id="male"
              v-model="formData.gender"
              type="radio"
              name="gender"
              value="male"
              @blur="v$.gender.$touch()"
            />
            <label for="male" class="ml-1 mr-3">Male</label>
            <input
              id="female"
              v-model="formData.gender"
              type="radio"
              name="gender"
              value="female"
              @blur="v$.gender.$touch()"
            />
            <label for="female" class="ml-1 mr-3">Female</label>
          </div>
          <span
            v-for="error in v$.birthDate.$errors"
            :key="error.$uid"
            class="text-danger text-sm text-left"
          >
            {{ error.$message }}
          </span>
        </div>
      </FormItem>
      <FormItem id="form-validation-birthdate" label="Hobbies">
        <div class="pt-[6px]">
          <input
            id="reading"
            type="checkbox"
            name="hobby"
            value="reading"
            @blur="v$.hobby.$touch()"
            @change="checkboxHandler"
          />
          <label for="reading" class="ml-1 mr-3">Reading</label><br />
          <input
            id="writing"
            type="checkbox"
            name="hobby"
            value="writing"
            @blur="v$.hobby.$touch()"
            @change="checkboxHandler"
          />
          <label for="writing" class="ml-1 mr-3">Writing</label><br />
          <input
            id="running"
            type="checkbox"
            name="hobby"
            value="running"
            @blur="v$.hobby.$touch()"
            @change="checkboxHandler"
          />
          <label for="running" class="ml-1 mr-3">Running</label><br />
          <input
            id="swimming"
            type="checkbox"
            name="hobby"
            value="swimming"
            @blur="v$.hobby.$touch()"
            @change="checkboxHandler"
          />
          <label for="swimming" class="ml-1 mr-3">Swimming</label><br />
        </div>
        <span
          v-for="error in v$.hobby.$errors"
          :key="error.$uid"
          class="text-danger text-sm text-left"
        >
          {{ error.$message }}
        </span>
      </FormItem>
      <div class="bzg_c" data-col="s12,m8,l8" data-offset="m4,l4">
        <Button type="submit" :disabled="v$.$invalid" @click="handleSubmit">
          Submit
        </Button>
      </div>
    </form>
    <highlightjs class="highlight" lang="xml" :code="code" />
  </div>
</template>

<script setup>
import { useVuelidate } from '@vuelidate/core'
import { required, email, minLength, maxLength } from '@vuelidate/validators'

const formData = ref({
  username: '',
  email: '',
  birthDate: '',
  gender: '',
  hobby: ''
})

const rules = {
  username: { required, minLength: minLength(8), maxLength: maxLength(16) },
  email: { required, email },
  birthDate: { required },
  gender: { required },
  hobby: { required }
}
const checkboxHandler = e => {
  formData.value.hobby = e.target.value
}

const v$ = useVuelidate(rules, formData)
const handleSubmit = e => {
  alert(JSON.stringify(formData.value))
}

const code = `<form
  id="form-validation"
  role="form"
  class="form form--horizontal"
  @submit.prevent="handleSubmit"
>
  <FormItem id="form-validation-username" label="Username">
    <div class="flex items-center gap-2">
      <Input
        v-model="formData.username"
        name="form-validation-username"
        placeholder="Username"
        :error="v$.username.$error"
        @blur="v$.username.$touch()"
      />
      <span
        v-for="error in v$.username.$errors"
        :key="error.$uid"
        class="text-danger text-sm text-left"
      >
        {{ error.$message }}
      </span>
    </div>
  </FormItem>
  <FormItem id="form-validation-email" label="Email">
    <div class="flex items-center gap-2">
      <Input
        v-model="formData.email"
        name="form-validation-email"
        placeholder="Email"
        type="email"
        :error="v$.email.$error"
        @blur="v$.email.$touch()"
      />
      <span
        v-for="error in v$.email.$errors"
        :key="error.$uid"
        class="text-danger text-sm text-left"
      >
        {{ error.$message }}
      </span>
    </div>
  </FormItem>
  <FormItem id="form-validation-birthdate" label="BirthDate">
    <div class="flex items-center gap-2">
      <Input
        v-model="formData.birthDate"
        name="form-validation-birthdate"
        placeholder="Birthdate"
        type="date"
        :error="v$.birthDate.$error"
        @blur="v$.birthDate.$touch()"
      />
      <span
        v-for="error in v$.birthDate.$errors"
        :key="error.$uid"
        class="text-danger text-sm text-left"
      >
        {{ error.$message }}
      </span>
    </div>
  </FormItem>
  <FormItem id="form-validation-gender" label="Gender">
    <div class="flex pt-[6px] items-center gap-2">
      <div class="flex items-center">
        <input
          id="male"
          v-model="formData.gender"
          type="radio"
          name="gender"
          value="male"
          @blur="v$.gender.$touch()"
        />
        <label for="male" class="ml-1 mr-3">Male</label>
        <input
          id="female"
          v-model="formData.gender"
          type="radio"
          name="gender"
          value="female"
          @blur="v$.gender.$touch()"
        />
        <label for="female" class="ml-1 mr-3">Female</label>
      </div>
      <span
        v-for="error in v$.birthDate.$errors"
        :key="error.$uid"
        class="text-danger text-sm text-left"
      >
        {{ error.$message }}
      </span>
    </div>
  </FormItem>
  <FormItem id="form-validation-hobby" label="Hobbies">
    <div class="pt-[6px]">
      <input
        id="reading"
        type="checkbox"
        name="hobby"
        value="reading"
        @blur="v$.hobby.$touch()"
        @change="checkboxHandler"
      />
      <label for="reading" class="ml-1 mr-3">Reading</label><br />
      <input
        id="writing"
        type="checkbox"
        name="hobby"
        value="writing"
        @blur="v$.hobby.$touch()"
        @change="checkboxHandler"
      />
      <label for="writing" class="ml-1 mr-3">Writing</label><br />
      <input
        id="running"
        type="checkbox"
        name="hobby"
        value="running"
        @blur="v$.hobby.$touch()"
        @change="checkboxHandler"
      />
      <label for="running" class="ml-1 mr-3">Running</label><br />
      <input
        id="swimming"
        type="checkbox"
        name="hobby"
        value="swimming"
        @blur="v$.hobby.$touch()"
        @change="checkboxHandler"
      />
      <label for="swimming" class="ml-1 mr-3">Swimming</label><br />
    </div>
    <span
      v-for="error in v$.hobby.$errors"
      :key="error.$uid"
      class="text-danger text-sm text-left"
    >
      {{ error.$message }}
    </span>
  </FormItem>
  <div class="bzg_c" data-col="s12,m8,l8" data-offset="m4,l4">
    <Button
      id="form-validation"
      type="submit"
      :disabled="v$.$invalid"
      @click="handleSubmit"
    >
      Submit
    </Button>
  </div>
</form>`
</script>
