@font-face {
  font-family: 'Fira-Mono';
  font-style: normal;
  font-weight: 400;
  src: url('/assets/fonts/FiraMono/FiraMono-Regular.woff');
}

@font-face {
  font-family: 'Fira-Mono';
  font-style: normal;
  font-weight: 500;
  src: url('/assets/fonts/FiraMono/FiraMono-Medium.woff');
}

@font-face {
  font-family: 'Fira-Mono';
  font-style: normal;
  font-weight: 700;
  src: url('/assets/fonts/FiraMono/FiraMono-Bold.woff');
}

.text-fira {
  font-family: 'Fira-Mono', monospace;
}
