@function lighten($color, $amount) {
  $r: min(255, red($color) + $amount);
  $g: min(255, green($color) + $amount);
  $b: min(255, blue($color) + $amount);

  @return rgb($r, $g, $b);
}

@function rgba($color, $alpha) {
  $alpha: max(0, min(1, $alpha));

  $red: red($color);
  $green: green($color);
  $blue: blue($color);

  @return rgba($red, $green, $blue, $alpha);
}
