$palettes: (
  'suitmedia': #ff6700,
  'primary': #0094ed,
  'secondary': #76848c,
  'warning': #ffae00,
  'danger': #f0210b,
  'black': #000
);

$light-palettes: (
  'light-grey': #d3d3d3,
  'white': #fff
);

@function palette($color) {
  @if map-has-key($palettes, $color) {
    @return map-get($palettes, $color);
  } @else if map-has-key($light-palettes, $color) {
    @return map-get($light-palettes, $color);
  } @else {
    @warn "key `#{$color}` was not found. Falling back to #000";
    @return #000;
  }
}

$suitmedia: #ff6700;
$primary: #0094ed;
$secondary: #76848c;
$warning: #ffae00;
$danger: #f0210b;
$light-grey: #d3d3d3;
$white: #ffffff;
$white-reversed: #e8e8e8;

// ===== BLACK =========
$black: #000000;
$black90: #1a1a1a;
$black80: #333333;
$black70: #4d4d4d;
$black60: #666666;
$black50: gray;
$black40: #999999;
$black30: #b3b3b3;
$black20: #cccccc;
$black10: #e6e6e6;

// ===== TYPOGRAPHY =====
$base_px_font_size: 16;
$base_font_size: $base_px_font_size * 1px;
$base_line_height: 1.6;
$base_font_family: -apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI',
  'Roboto', 'Helvetica Neue', Arial, sans-serif;
$space: $base_line_height * 1em;

// ===== BREAK POINTS =====

$small: 'screen and (min-width: 28em)';
$small_portrait: 'screen and (min-width: 28em) and (orientation: portrait)';
$small_landscape: 'screen and (min-width: 28em) and (orientation: landscape)';

$medium: 'screen and (min-width: 48em)';
$medium_portrait: 'screen and (min-width: 48em) and (orientation: portrait)';
$medium_landscape: 'screen and (min-width: 48em) and (orientation: landscape)';

$large: 'screen and (min-width: 64em)';
$extra_large: 'screen and (min-width: 75em)';
