<template>
  <textarea
    v-if="type == 'textarea'"
    v-model="modelValue"
    class="input"
    :class="`input--${size} w-${width} `"
    :placeholder="placeholder"
    rows="5"
  ></textarea>
  <div
    v-else
    class="input"
    :class="`input--${size} w-${width}`"
    :error="error"
    :disabled="disabled"
  >
    <slot name="left-accessory"></slot>
    <input
      :id="name"
      v-model="modelValue"
      :placeholder="placeholder"
      :type="type"
      :name="name"
      :disabled="disabled"
      :multiple="multiple"
      :readonly="readonly"
      @change="change"
      @blur="handleBlur"
    />
    <slot name="right-accessory"></slot>
  </div>
</template>

<script setup>
defineProps({
  size: {
    type: String,
    required: false,
    default: 'l'
  },
  placeholder: {
    type: String,
    required: false,
    default: ''
  },
  width: {
    type: String,
    required: false,
    default: ''
  },
  type: {
    type: String,
    required: false,
    default: 'text'
  },
  error: {
    type: Boolean,
    required: false,
    default: false
  },
  disabled: {
    type: Boolean,
    required: false,
    default: false
  },
  name: {
    type: String,
    required: false,
    default: ''
  },
  multiple: {
    type: Boolean,
    required: false
  },
  readonly: {
    type: Boolean,
    required: false
  }
})

const modelValue = defineModel('modelValue')

const emit = defineEmits(['change', 'blur'])
const change = e => {
  emit('change', e.target)
}
const handleBlur = () => {
  emit('blur')
}
</script>
