<template>
  <div>
    <button
      v-if="as == 'button'"
      :id="id"
      :type="type"
      :class="`btn ${className} btn--${variant} btn--${size} btn--${color}`"
      :disabled="disabled"
      @click="onClick"
    >
      <slot />
    </button>
    <NuxtLink
      v-else
      :class="`btn ${className} btn--${variant} btn--${size} btn--${color}`"
      :to="localePath(`${url}`)"
    >
      <slot />
    </NuxtLink>
  </div>
</template>

<script setup lang="ts">
import { type ButtonProps } from './types'
const localePath = useLocalePath()

withDefaults(defineProps<ButtonProps>(), {
  variant: 'contained',
  className: '',
  color: 'primary',
  size: 'normal',
  as: 'button',
  id: '',
  type: 'button',
  url: '/',
  disabled: false
})
</script>
