<template>
  <form
    :id="id"
    role="form"
    :class="`form form--${layout}`"
    @submit.prevent="handleSubmit"
  >
    <slot />
  </form>
</template>

<script setup>
defineProps({
  layout: {
    type: String,
    required: false,
    default: 'horizontal'
  },
  id: {
    type: String,
    required: true
  }
})

const emit = defineEmits(['submit'])
const handleSubmit = e => {
  emit('submit', e)
}
</script>
