<template>
  <div>
    <div v-if="label !== ''" class="form-item">
      <label :for="id" class="form-label text-sm" data-col="s12,m4,l4">
        {{ label }}
      </label>
      <div class="form-section" data-col="s12,m8,l8">
        <slot />
      </div>
    </div>
  </div>
</template>

<script setup>
defineProps({
  label: {
    type: String,
    required: false,
    default: ''
  },
  id: {
    type: String,
    required: false,
    default: ''
  }
})
</script>
