<template>
  <div>
    <TabGroup>
      <Tab
        v-for="(data, i) in items"
        :key="i"
        :label="data.label"
        :index="data.id"
        :value="current"
        @change="handlePanelChange"
      />
      <!-- <Tab
        label="Tab 1"
        :value="current"
        :index="0"
        @change="handlePanelChange"
      />
      <Tab
        label="Tab 2"
        :value="current"
        :index="1"
        @change="handlePanelChange"
      />
      <Tab
        label="Tab 3"
        :value="current"
        :index="2"
        @change="handlePanelChange"
      /> -->
    </TabGroup>
    <TabPanel :value="current" :index="0">
      <div>This is Panel Tab 1</div>
    </TabPanel>
    <TabPanel :value="current" :index="1">
      <div>This is Panel Tab 2</div>
    </TabPanel>
    <TabPanel :value="current" :index="2">
      <div>This is Panel Tab 3</div>
    </TabPanel>
  </div>
</template>

<script setup>
const items = [
  {
    label: 'Tab 1',
    id: 0
  },
  {
    label: 'Tab 2',
    id: 1
  },
  {
    label: 'Tab 3',
    id: 2
  }
]
const current = ref(0)

const handlePanelChange = e => {
  current.value = e
}
</script>
