<template>
  <div>
    <TabGroup :is-justified="true">
      <Tab
        label="Tab 1"
        :value="current"
        :index="0"
        @change="handlePanelChange"
      />
      <Tab
        label="Tab 2"
        :value="current"
        :index="1"
        @change="handlePanelChange"
      />
      <Tab
        label="Tab 3"
        :value="current"
        :index="2"
        @change="handlePanelChange"
      />
    </TabGroup>
    <TabPanel :value="current" :index="0">
      <div>This is Panel Tab 1</div>
    </TabPanel>
    <TabPanel :value="current" :index="1">
      <div>This is Panel Tab 2</div>
    </TabPanel>
    <TabPanel :value="current" :index="2">
      <div>This is Panel Tab 3</div>
    </TabPanel>
  </div>
</template>

<script setup>
const current = ref(0)

const handlePanelChange = e => {
  current.value = e
}
</script>
