@tailwind base;
@tailwind components;
@tailwind utilities;
@import 'modules/modules';
@import 'partials/partials';
@import 'plugins/plugins';
@import 'pages/pages';
@import 'layouts/layout';

h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
li,
ul {
  color: $black80;
}
::-moz-selection {
  background: #b3d4fc;
  color: #000;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  color: #000;
  text-shadow: none;
}

body {
  font-family: Montserrat;
}

hr {
  @apply mb-4;
}

@font-face {
  font-family: 'Font Awesome 5 Free';
  font-style: normal;
  font-weight: 900;
  src: url(webfonts/fa-solid-900.eot);
  src:
    url(webfonts/fa-solid-900.eot?#iefix) format('embedded-opentype'),
    url(webfonts/fa-solid-900.woff2) format('woff2'),
    url(webfonts/fa-solid-900.woff) format('woff'),
    url(webfonts/fa-solid-900.ttf) format('truetype'),
    url(webfonts/fa-solid-900.svg#fontawesome) format('svg');
}
