<template>
  <div>
    <h2 class="title">Buttons</h2>
    <!-- primary -->
    <div class="flex flex-col gap-y-3 mb-4">
      <div class="flex gap-x-2">
        <Button @click="handleClick">Primary</Button>
        <Button variant="outlined" @click="handleClick">Primary</Button>
        <Button variant="ghost" @click="handleClick">Primary</Button>
      </div>
      <!-- secondary -->
      <div class="flex gap-x-2">
        <Button color="secondary" @click="handleClick">Secondary</Button>
        <Button color="secondary" variant="outlined" @click="handleClick"
          >Secondary</Button
        >
        <Button color="secondary" variant="ghost" @click="handleClick"
          >Secondary</Button
        >
      </div>

      <!-- warning -->
      <div class="flex gap-x-2">
        <Button color="warning" @click="handleClick">Warning</Button>
        <Button color="warning" variant="outlined" @click="handleClick"
          >Warning</Button
        >
        <Button color="warning" variant="ghost" @click="handleClick"
          >Warning</Button
        >
      </div>

      <!-- danger -->
      <div class="flex gap-x-2">
        <Button color="danger" @click="handleClick">Danger</Button>
        <Button color="danger" variant="outlined" @click="handleClick"
          >Danger</Button
        >
        <Button color="danger" variant="ghost" @click="handleClick"
          >Danger</Button
        >
      </div>

      <!-- black -->
      <div class="flex gap-x-2">
        <Button color="black" @click="handleClick">Black</Button>
        <Button color="black" variant="outlined" @click="handleClick"
          >Black</Button
        >
        <Button color="black" variant="ghost" @click="handleClick"
          >Black</Button
        >
      </div>

      <!-- light-grey -->
      <div class="flex gap-x-2">
        <Button color="light-grey" @click="handleClick">Light Grey</Button>
        <Button color="light-grey" variant="outlined" @click="handleClick"
          >Light Grey</Button
        >
        <Button color="light-grey" variant="ghost" @click="handleClick"
          >Light Grey</Button
        >
      </div>

      <!-- white -->
      <div class="flex gap-x-2">
        <Button color="white" @click="handleClick">White</Button>
        <Button color="white" variant="outlined" @click="handleClick"
          >White</Button
        >
        <Button color="white" variant="ghost" @click="handleClick"
          >White</Button
        >
      </div>
    </div>
    <highlightjs lang="xml" class="highlight" :code="buttonColor" />
    <hr />
    <h2 class="title">Button Sizing</h2>
    <div class="flex flex-col gap-y-3 mb-4">
      <div class="flex gap-x-2">
        <Button size="small" @click="handleClick">Small Button</Button>
        <Button size="small" variant="outlined" @click="handleClick"
          >Small Button</Button
        >
        <Button size="small" variant="ghost" @click="handleClick"
          >Small Button</Button
        >
      </div>
      <div class="flex gap-x-2">
        <Button size="normal" @click="handleClick">Normal Button</Button>
        <Button size="normal" variant="outlined" @click="handleClick"
          >Normal Button</Button
        >
        <Button size="normal" variant="ghost" @click="handleClick"
          >Normal Button</Button
        >
      </div>
      <div class="flex gap-x-2">
        <Button size="large" @click="handleClick">Large Button</Button>
        <Button size="large" variant="outlined" @click="handleClick"
          >Large Button</Button
        >
        <Button size="large" variant="ghost" @click="handleClick">
          Large button
        </Button>
      </div>
    </div>
    <highlightjs lang="xml" class="highlight" :code="buttonSizeCode" />
    <hr />
    <h2 class="title">Icon-only Buttons</h2>
    <div class="flex flex-col gap-y-3 mb-4">
      <div class="flex gap-x-2">
        <Button size="small" @click="handleClick">
          <i class="fas fa-search fa-sm" />
        </Button>
        <Button
          size="small"
          color="black"
          variant="outlined"
          @click="handleClick"
        >
          <i class="fas fa-times fa-sm" />
        </Button>
        <Button
          size="small"
          color="light-grey"
          variant="ghost"
          @click="handleClick"
        >
          <i class="fas fa-user fa-sm" />
        </Button>
      </div>
      <div class="flex gap-x-2">
        <Button @click="handleClick">
          <i class="fas fa-search fa-sm" />
        </Button>
        <Button color="black" variant="outlined" @click="handleClick">
          <i class="fas fa-times fa-sm" />
        </Button>
        <Button color="light-grey" variant="ghost" @click="handleClick">
          <i class="fas fa-user fa-sm" />
        </Button>
      </div>
      <div class="flex gap-x-2">
        <Button size="large" @click="handleClick">
          <i class="fas fa-search fa-sm" />
        </Button>
        <Button
          size="large"
          color="black"
          variant="outlined"
          @click="handleClick"
        >
          <i class="fas fa-times fa-sm" />
        </Button>
        <Button
          size="large"
          color="light-grey"
          variant="ghost"
          @click="handleClick"
        >
          <i class="fas fa-user fa-sm" />
        </Button>
      </div>
    </div>
    <highlightjs lang="xml" class="highlight" :code="iconOnlyCode" />
    <hr />
    <h2 class="title">Icon + Text Buttons</h2>
    <div class="flex flex-col gap-y-3 mb-4">
      <div class="flex gap-x-2">
        <Button size="small" @click="handleClick">
          Search <i class="fas fa-search fa-sm"></i>
        </Button>
        <Button
          size="small"
          color="black"
          variant="outlined"
          @click="handleClick"
        >
          <i class="fas fa-times fa-sm"></i> Cancel
        </Button>
        <Button
          size="small"
          color="light-grey"
          variant="ghost"
          @click="handleClick"
        >
          Profile <i class="fas fa-user fa-sm"></i>
        </Button>
      </div>
      <div class="flex gap-x-2">
        <Button @click="handleClick">
          Search <i class="fas fa-search fa-sm"></i>
        </Button>
        <Button color="black" variant="outlined" @click="handleClick">
          <i class="fas fa-times fa-sm"></i> Cancel
        </Button>
        <Button color="light-grey" variant="ghost" @click="handleClick">
          Profile <i class="fas fa-user fa-sm"></i>
        </Button>
      </div>
      <div class="flex gap-x-2">
        <Button size="large" @click="handleClick">
          Search <i class="fas fa-search fa-sm"></i>
        </Button>
        <Button
          size="large"
          color="black"
          variant="outlined"
          @click="handleClick"
        >
          <i class="fas fa-times fa-sm"></i> Cancel
        </Button>
        <Button
          size="large"
          color="light-grey"
          variant="ghost"
          @click="handleClick"
        >
          Profile <i class="fas fa-user fa-sm"></i>
        </Button>
      </div>
    </div>
    <highlightjs lang="xml" class="highlight" :code="iconTextCode" />
  </div>
</template>

<script setup lang="ts">
const handleClick = () => {}
const buttonColor = `<div class="flex flex-col gap-y-3">
  <div class="flex gap-x-2">
    <Button @click="handleClick">Primary</Button>
    <Button variant="outlined" @click="handleClick">Primary</Button>
    <Button variant="ghost" @click="handleClick">Primary</Button>
  </div>
  <div class="flex gap-x-2">
    <Button color="secondary" @click="handleClick">Secondary</Button>
    <Button color="secondary" variant="outlined" @click="handleClick">Secondary</Button>
    <Button color="secondary" variant="ghost" @click="handleClick">Secondary</Button>
  </div>

  <div class="flex gap-x-2">
    <Button color="warning" @click="handleClick">Warning</Button>
    <Button color="warning" variant="outlined" @click="handleClick">Warning</Button>
    <Button color="warning" variant="ghost" @click="handleClick">Warning</Button>
  </div>

  <div class="flex gap-x-2">
    <Button color="danger" @click="handleClick">Danger</Button>
    <Button color="danger" variant="outlined" @click="handleClick">Danger</Button>
    <Button color="danger" variant="ghost" @click="handleClick">Danger</Button>
  </div>

  <div class="flex gap-x-2">
    <Button color="black" @click="handleClick">Black</Button>
    <Button color="black" variant="outlined" @click="handleClick">Black</Button>
    <Button color="black" variant="ghost" @click="handleClick">Black</Button>
  </div>

  <div class="flex gap-x-2">
    <Button color="light-grey" @click="handleClick">Light Grey</Button>
    <Button color="light-grey" variant="outlined" @click="handleClick">Light Grey</Button>
    <Button color="light-grey" variant="ghost" @click="handleClick">Light Grey</Button>
  </div>

  <div class="flex gap-x-2">
    <Button color="white" @click="handleClick">White</Button>
    <Button color="white" variant="outlined" @click="handleClick">White</Button>
    <Button color="white" variant="ghost" @click="handleClick">White</Button>
  </div>
</div>`

const buttonSizeCode = `<div class="flex flex-col gap-y-3">
  <div class="flex gap-x-2">
    <Button size="small" @click="handleClick">Small Button</Button>
    <Button size="small" variant="outlined" @click="handleClick">
      Small Button
    </Button>
    <Button size="small" variant="ghost" @click="handleClick">
      Small Button
    </Button>
  </div>
  <div class="flex gap-x-2">
    <Button size="normal" @click="handleClick">Normal Button</Button>
    <Button size="normal" variant="outlined" @click="handleClick">
      Normal Button
    </Button>
    <Button size="normal" variant="ghost" @click="handleClick">
      Normal Button
    </Button>
  </div>
  <div class="flex gap-x-2">
    <Button size="large" @click="handleClick">Large Button</Button>
    <Button size="large" variant="outlined" @click="handleClick">
      Large Button
    </Button>
    <Button size="large" variant="ghost" @click="handleClick">
      Large Button
    </Button>
  </div>
</div>`

const iconOnlyCode = `<div class="flex flex-col gap-y-3">
  <div class="flex gap-x-2">
    <Button size="small" @click="handleClick">
      <i class="fas fa-search fa-sm" />
    </Button>
    <Button size="small" color="black" variant="outlined" @click="handleClick">
      <i class="fas fa-times fa-sm" />
    </Button>
    <Button size="small" color="light-grey" variant="ghost" @click="handleClick">
      <i class="fas fa-user fa-sm" />
    </Button>
  </div>
  <div class="flex gap-x-2">
    <Button @click="handleClick">
      <i class="fas fa-search fa-sm" />
    </Button>
    <Button color="black" variant="outlined" @click="handleClick">
      <i class="fas fa-times fa-sm" />
    </Button>
    <Button color="light-grey" variant="ghost" @click="handleClick">
      <i class="fas fa-user fa-sm" />
    </Button>
  </div>
  <div class="flex gap-x-2">
    <Button size="large" @click="handleClick">
      <i class="fas fa-search fa-sm" />
    </Button>
    <Button size="large" color="black" variant="outlined" @click="handleClick">
      <i class="fas fa-times fa-sm" />
    </Button>
    <Button size="large" color="light-grey" variant="ghost" @click="handleClick">
      <i class="fas fa-user fa-sm" />
    </Button>
  </div>
</div>`

const iconTextCode = `<div class="flex flex-col gap-y-3">
  <div class="flex gap-x-2">
    <Button size="small" @click="handleClick">
      Search <i class="fas fa-search fa-sm"></i>
    </Button>
    <Button size="small" color="black" variant="outlined" @click="handleClick">
      <i class="fas fa-times fa-sm"></i> Cancel
    </Button>
    <Button size="small" color="light-grey" variant="ghost" @click="handleClick">
      Profile <i class="fas fa-user fa-sm"></i>
    </Button>
  </div>
  <div class="flex gap-x-2">
    <Button @click="handleClick">
      Search <i class="fas fa-search fa-sm"></i>
    </Button>
    <Button color="black" variant="outlined" @click="handleClick">
      <i class="fas fa-times fa-sm"></i> Cancel
    </Button>
    <Button color="light-grey" variant="ghost" @click="handleClick">
      Profile <i class="fas fa-user fa-sm"></i>
    </Button>
  </div>
  <div class="flex gap-x-2">
    <Button size="large" @click="handleClick">
      Search <i class="fas fa-search fa-sm"></i>
    </Button>
    <Button size="large" color="black" variant="outlined" @click="handleClick">
      <i class="fas fa-times fa-sm"></i> Cancel
    </Button>
    <Button size="large" color="light-grey" variant="ghost" @click="handleClick">
      Profile <i class="fas fa-user fa-sm"></i>
    </Button>
  </div>
</div>`
</script>
