main.default {
  width: calc(100% - 220px);
  .container {
    @apply py-16;
    width: 92%;
    max-width: 960px;
    margin: 0 auto;
  }

  @media screen and (min-width: 48em) {
    .container {
      width: 94%;
    }
  }
}
