<template>
  <div>
    <h2 class="title">Tabs</h2>
    <TabV2Group :is-justified="true">
      <TabV2
        v-for="(data, i) in items"
        :key="i"
        :label="data.label"
        :value="current"
        :index="data.id"
        @change="handlePanelChange"
      >
        <div>This is Tab Content {{ data.id }}</div>
      </TabV2>
    </TabV2Group>
    <highlightjs class="highlight" lang="xml" :code="example1" />
  </div>
</template>

<script setup>
const items = [
  {
    label: 'Tab 1',
    id: 1
  },
  {
    label: 'Tab 2',
    id: 2
  },
  {
    label: 'Tab 3',
    id: 3
  }
]

const current = ref(items[0].id)
const handlePanelChange = e => {
  current.value = e
}

const example1 = `<TabV2Group :is-justified="true">
  <TabV2
    v-for="(data, i) in items"
    :key="i"
    :label="data.label"
    :value="current"
    :index="data.id"
    @change="handlePanelChange"
  >
    <div>This is Tab Content {{ data.id }}</div>
  </TabV2>
</TabV2Group>`
</script>
