import type { NuxtLink } from '#build/components';
<template>
  <aside class="sidebar">
    <nav>
      <ul class="pl-0">
        <li v-for="(data, i) in menus.data[locale]" :key="i" class="list-none">
          <NuxtLink
            :to="localePath(data.url)"
            class="text-black70 hover:text-black80 hover:font-medium"
          >
            {{ data.title }}
          </NuxtLink>
        </li>
      </ul>
    </nav>
  </aside>
  <div></div>
</template>

<script setup>
const { locale } = useI18n()
const menus = await useFetchMenus()
const localePath = useLocalePath()
</script>
