<template>
  <main id="main" role="main" class="text-3xl">
    {{ $t('product') }}
  </main>
</template>

<script setup>
defineI18nRoute({
  paths: {
    id: '/produk',
    en: '/products'
  }
})
</script>

<style lang="scss" scoped></style>
