<template>
  <div class="flex flex-wrap gap-4 mb-5">
    <div
      v-for="idea in ideas"
      :key="idea.id"
      class="idea-card p-4 rounded border-[2px] border-green-700 w-full flex gap-3"
    >
      <div class="w-[200px]">
        <img
          v-if="idea.medium_image.length"
          :src="idea.medium_image[0].url"
          :alt="idea.medium_image[0].file_name"
          class="h-[150px]"
          height="150px"
        />
      </div>
      <div>
        {{ idea.title }}
      </div>
    </div>
  </div>
  <h3 v-if="isLoading" class="relative overflow-hidden">
    <nuxt-icon
      class="relative text-6xl text-green-600 left-[50%] -translate-x-1/2"
      name="icon-dots-loading"
    ></nuxt-icon>
  </h3>
</template>

<script setup>
import { onMounted, onUnmounted } from 'vue'

const route = useRoute()

const queries = {
  page: ref(1)
}

const lastPage = ref(0)
const ideas = ref([])
const ideaObserver = ref(null)
const lastIdeaObserver = ref(null)

const isLoading = ref(true)

const getIdeas = async () => {
  isLoading.value = true

  const { data, error, pending } = await useFetchIdeas({
    query: {
      'page[number]': queries.page,
      'page[size]': 25,
      'filter[published_until]': getToday(),
      append: ['medium_image']
    }
    // method: "POST",
  })

  isLoading.value = pending.value
  ideas.value = [...ideas.value, ...data.value.data]
  lastPage.value = data.value.meta.last_page

  if (error.value) {
    throw createError({
      statusCode: 404,
      message: `Ideas does not exist`
    })
  }
}

await getIdeas()

const ideaObserverInit = entries => {
  entries.forEach(entry => {
    if (entry.isIntersecting) {
      entry.target.classList.add('show')
      ideaObserver.value?.unobserve(entry.target)
    }
  })
}

const ideaObserverConfig = {
  threshold: 0.3
}

const lastIdeaObserverInit = async entries => {
  const lastIdea = entries[0]
  if (!lastIdea.isIntersecting) return

  queries.page.value += 1

  try {
    await getIdeas()
    lastIdeaObserver.value?.unobserve(lastIdea.target)
    if (queries.page.value < lastPage.value) {
      document.querySelectorAll('.idea-card:not(.show)').forEach(idea => {
        ideaObserver.value?.observe(idea)
      })
      lastIdeaObserver.value?.observe(
        document.querySelector('.idea-card:last-child')
      )
    }
  } catch (err) {
    // console.log(err)
  }
}

const lastIdeaObserverConfig = {
  rootMargin: '400px'
}

watch(
  () => route.query,
  () => {
    getIdeas()
  }
)

onMounted(() => {
  ideaObserver.value = new IntersectionObserver(
    ideaObserverInit,
    ideaObserverConfig
  )

  lastIdeaObserver.value = new IntersectionObserver(
    lastIdeaObserverInit,
    lastIdeaObserverConfig
  )

  document.querySelectorAll('.idea-card').forEach(idea => {
    ideaObserver.value?.observe(idea)
  })
  lastIdeaObserver.value?.observe(
    document.querySelector('.idea-card:last-child')
  )
})

onUnmounted(() => {
  lastIdeaObserver.value?.disconnect()
  ideaObserver.value?.disconnect()
})
</script>

<style lang="scss" scoped>
.idea-card {
  opacity: 0;
  transition: opacity 0.5s ease-in;
}
.show {
  animation: slide 0.5s ease-in;
  opacity: 1;
}

@keyframes slide {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}
</style>
