.btn {
  @apply px-6 py-2 block transition-all duration-150 rounded-lg font-medium text-base cursor-pointer select-none;

  &[disabled] {
    background-color: gray !important;
  }

  &.download {
    &:hover {
      color: white !important;
      border-color: white !important;
    }
  }
  &.btn--contained {
    &.btn--primary {
      @apply bg-primary text-white;

      &:hover {
        background-color: lighten($primary, 15);
      }

      &:active {
        box-shadow: 0px 0px 0px 4px rgba(lighten($primary, 25), 0.25);
        background-color: darken($primary, 20);
      }
    }

    &.btn--secondary {
      @apply bg-secondary text-white;

      &:hover {
        background-color: lighten($secondary, 15);
      }

      &:active {
        box-shadow: 0px 0px 0px 4px rgba(lighten($secondary, 25), 0.25);
        background-color: darken($secondary, 15);
      }
    }

    &.btn--warning {
      @apply bg-warning text-white;

      &:hover {
        background-color: lighten($warning, 15);
      }

      &:active {
        box-shadow: 0px 0px 0px 4px rgba(lighten($warning, 25), 0.25);
        background-color: darken($warning, 10);
      }
    }

    &.btn--danger {
      @apply bg-danger text-white;

      &:hover {
        background-color: lighten($danger, 15);
      }

      &:active {
        box-shadow: 0px 0px 0px 4px rgba(lighten($danger, 25), 0.25);
        background-color: darken($danger, 15);
      }
    }

    &.btn--black {
      @apply bg-black text-white;

      &:hover {
        background-color: lighten($black, 15);
      }

      &:active {
        box-shadow: 0px 0px 0px 4px rgba(lighten($black, 25), 0.25);
        background-color: darken($black, 30);
      }
    }

    &.btn--light-grey {
      @apply bg-light-grey text-black;

      &:hover {
        background-color: darken($light-grey, 5);
      }

      &:active {
        box-shadow: 0px 0px 0px 4px rgba(darken($light-grey, 25), 0.25);
        background-color: darken($light-grey, 10);
      }
    }

    &.btn--white {
      @apply bg-white text-black;

      &:hover {
        // background-color: darken($white, );
        box-shadow: 0px 0px 0px 4px rgba(darken($white, 25), 0.1);
      }

      &:active {
        box-shadow: 0px 0px 0px 4px rgba(darken($white, 25), 0.25);
        background-color: darken($white, 2);
      }
    }

    &.btn--suitmedia {
      @apply bg-suitmedia text-white;

      &:hover {
        background-color: lighten($suitmedia, 20);
      }
      &:active {
        box-shadow: 0px 0px 0px 4px rgba(lighten($suitmedia, 25), 0.25);
        background-color: darken($suitmedia, 20);
      }
    }
  }

  &.btn--outlined {
    &.btn--primary {
      @apply border-primary border-[1.5px] text-primary;
      &:hover {
        background-color: rgba(lighten($primary, 20), $alpha: 0.5);
      }
      &:active {
        box-shadow: 0px 0px 0px 4px rgba(lighten($primary, 10), $alpha: 0.2);
        color: darken($primary, 10);
        border-color: darken($primary, 5);
      }
    }
    &.btn--secondary {
      @apply border-secondary border-[1.5px] text-secondary;
      &:hover {
        background-color: rgba(lighten($secondary, 20), $alpha: 0.5);
      }
      &:active {
        box-shadow: 0px 0px 0px 4px rgba(lighten($secondary, 10), $alpha: 0.2);
        color: darken($secondary, 10);
        border-color: darken($secondary, 5);
      }
    }
    &.btn--warning {
      @apply border-warning border-[1.5px] text-warning;
      &:hover {
        background-color: rgba(lighten($warning, 20), $alpha: 0.5);
      }
      &:active {
        box-shadow: 0px 0px 0px 4px rgba(lighten($warning, 10), $alpha: 0.2);
        border-color: darken($warning, 5);
      }
    }
    &.btn--danger {
      @apply border-danger border-[1.5px] text-danger;
      &:hover {
        background-color: rgba(lighten($danger, 20), $alpha: 0.5);
      }
      &:active {
        box-shadow: 0px 0px 0px 4px rgba(lighten($danger, 10), $alpha: 0.2);
        color: darken($danger, 10);
        border-color: darken($danger, 5);
      }
    }
    &.btn--black {
      @apply border-black border-[1.5px] text-black;
      &:hover {
        @apply text-white;
        background-color: rgba(lighten($black, 20), $alpha: 0.5);
      }
      &:active {
        @apply text-white;
        box-shadow: 0px 0px 0px 4px rgba(lighten($black, 10), $alpha: 0.2);
        border-color: darken($black, 5);
      }
    }
    &.btn--light-grey {
      @apply border-light-grey border-[1.5px] text-light-grey;
      &:hover {
        @apply text-white;
        background-color: rgba(darken($light-grey, 10), $alpha: 0.5);
      }
      &:active {
        @apply text-white;
        box-shadow: 0px 0px 0px 4px rgba(darken($light-grey, 10), $alpha: 0.2);
        border-color: darken($light-grey, 5);
      }
    }
    &.btn--white {
      @apply border-white-reversed border-[1.5px] text-white-reversed;
      &:hover {
        @apply text-black;
        border-color: lighten($black, 40);
      }
      &:active {
        @apply text-black;
        border-color: lighten($black, 20);
        box-shadow: 0px 0px 0px 4px
          rgba(darken($white-reversed, 10), $alpha: 0.2);
      }
    }
  }

  &.btn--ghost {
    &.btn--primary {
      @apply text-primary;

      &:hover {
        background-color: rgba(lighten($primary, 10), $alpha: 0.1);
      }
      &:active {
        background-color: rgba(lighten($primary, 40), $alpha: 0.8);
      }
    }
    &.btn--secondary {
      @apply text-secondary;

      &:hover {
        background-color: rgba(lighten($secondary, 10), $alpha: 0.1);
      }
      &:active {
        background-color: rgba(lighten($secondary, 40), $alpha: 0.8);
      }
    }
    &.btn--warning {
      @apply text-warning;

      &:hover {
        background-color: rgba(lighten($warning, 10), $alpha: 0.1);
      }
      &:active {
        background-color: rgba(lighten($warning, 40), $alpha: 0.8);
      }
    }
    &.btn--danger {
      @apply text-danger;

      &:hover {
        background-color: rgba(lighten($danger, 10), $alpha: 0.1);
      }
      &:active {
        background-color: rgba(lighten($danger, 40), $alpha: 0.8);
      }
    }
    &.btn--black {
      @apply text-black;

      &:hover {
        background-color: rgba(darken($black, 10), $alpha: 0.05);
      }
      &:active {
        background-color: rgba(darken($black, 40), $alpha: 0.3);
      }
    }
    &.btn--light-grey {
      @apply text-light-grey;

      &:hover {
        background-color: rgba(darken($light-grey, 10), $alpha: 0.1);
      }
      &:active {
        color: lighten($light-grey, 10);
        background-color: rgba(darken($light-grey, 30), $alpha: 0.5);
      }
    }
    &.btn--white {
      @apply text-white-reversed;

      &:hover {
        background-color: rgba(darken($white-reversed, 10), $alpha: 0.1);
      }
      &:active {
        background-color: rgba(darken($white-reversed, 30), $alpha: 0.8);
      }
    }
  }

  &.btn--small {
    @apply text-sm px-4 py-2;
  }

  &.btn--large {
    @apply text-xl px-7 py-[10px];
  }
}
