.form--vertical {
  .form-item {
    @apply flex flex-col gap-y-1;
  }

  .form-label {
    @apply text-left;
  }
}

.form--horizontal {
  .form-item {
    @extend .bzg;
  }

  .form-section {
    @extend .bzg_c;
  }

  .form-label {
    @apply py-[6px];
    @extend .bzg_c;
    @media #{$medium} {
      text-align: right;
    }
  }
}

.form {
  @apply flex flex-col gap-y-3;
}

.form-file-name {
  @apply absolute h-10 px-3 top-[10px] text-sm;
}
