@import '../partials/variables';

@layer base {
  .header {
    @apply sticky top-0 z-50 flex justify-between items-center space-x-1 border-b shadow-lg text-fira bg-suitmedia px-2 md:px-3 lg:px-4 py-2;

    & .title {
      @apply text-xl md:text-2xl;
      color: white;
      font-weight: 900;
    }

    & .nav {
      @apply flex items-center gap-4;
    }

    & .logo {
      @apply md:w-10 w-8;
    }

    &.header-splash {
      @apply bg-transparent shadow-none fixed top-0 border-none px-2 md:px-6 lg:px-12 py-5;

      & .logo {
        @apply md:w-[35px] w-[30px];
      }
    }
  }
}
