.input {
  @apply transition-all duration-150 border-black20 border px-2 rounded-md text-sm leading-5 outline-none h-8 flex items-center gap-x-2 w-fit;

  &.w-full {
    width: 100%;

    input {
      width: 100%;
    }
  }

  &:focus-within {
    box-shadow: 0px 0px 0px 3px rgba(lighten($primary, 25), 0.25);
    border-color: $primary;
  }

  &[error='true'] {
    border-color: $danger;
  }

  &[disabled='true'] {
    @apply cursor-none;
    background-color: $black10;
  }

  &.input--s {
    @apply text-xs leading-5 h-6;
  }

  &.input--l {
    @apply rounded-lg h-10 px-3;
    &:focus-within {
      box-shadow: 0px 0px 0px 4px rgba(lighten($primary, 25), 0.25);
    }
  }

  &.input--xl {
    @apply px-3  rounded-lg text-base h-12;
    &:focus-within {
      box-shadow: 0px 0px 0px 4px rgba(lighten($primary, 25), 0.25);
    }
  }

  & input[type='password']:not(:placeholder-shown) {
    font-family: Verdana;
    -webkit-text-security: disc;
  }

  & input[type='file'] {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
  }

  input {
    @apply grow;
  }
}

textarea {
  @apply py-2 min-h-20;
}

input,
textarea {
  @apply outline-none;
  height: 100%;
}
