aside.sidebar {
  @apply shadow-xl border-r border-slate-300;
  background-color: white;
  position: fixed;
  top: 56px;
  bottom: 0px;
  left: 0px;
  width: 220px;
  overflow-y: scroll;

  &::-webkit-scrollbar {
    width: 10px;
  }

  &::-webkit-scrollbar-thumb {
    @apply transition-all duration-500;
    @apply bg-slate-500;
    border-radius: 6px;
  }

  &::-webkit-scrollbar-thumb:hover {
    @apply bg-opacity-75;
  }

  &::-webkit-scrollbar-track {
    @apply bg-slate-200;
  }

  &::-webkit-scrollbar-horizontal {
    height: 12px;
  }

  & ~ div {
    width: 220px;
  }

  & li {
    @apply my-1;
  }

  & li a {
    @apply text-base;
    display: block;
    padding: 8px 24px 8px;

    &:hover {
      @apply bg-slate-100 bg-opacity-70;
    }
  }
}
