.tab-group {
  @apply flex mb-1 border-b;

  &.tab-group--true {
    width: 100%;

    .tab-index {
      @apply grow;
    }
  }

  .tab-index {
    @apply text-center px-8 py-1 transition-all duration-300 cursor-pointer;

    &:hover {
      @apply bg-gray-200 bg-opacity-45;
    }

    &.tab-index--true {
      @apply text-primary font-medium border-b border-primary;
    }
  }
}

.tab--panel {
  @apply transition-all duration-300;
}
