<template>
  <div :id="tabId">
    <div :class="`tab-group tab-group--${isJustified}`">
      <slot :id="tabId" />
    </div>
    <div class="tab-panel"></div>
  </div>
</template>

<script setup>
defineProps({
  isJustified: {
    type: Boolean,
    required: true,
    default: false
  },
  tabId: {
    type: String,
    required: false,
    default: 'tab-group'
  }
})
</script>
