<template>
  <div :class="`tab-index tab-index--${index == value}`" @click="handleChange">
    {{ label }}
    <Teleport v-if="isMounted && index == value" :to="`#${id} .tab-panel`">
      <div>
        <slot />
      </div>
    </Teleport>
  </div>
</template>

<script setup>
const props = defineProps({
  label: {
    type: String,
    required: true,
    default: ''
  },
  index: { type: Number, required: true },
  value: { type: Number, required: true },
  id: { type: String, required: false, default: 'tab-group' }
})

const isMounted = ref(false)
const emit = defineEmits(['change'])

const handleChange = () => {
  // console.log('asda')
  emit('change', props.index)
}

onMounted(() => {
  isMounted.value = true
})
</script>
