<template>
  <div>
    <div class="mx-auto mt-4 container">
      <h1 class="mb-5 text-3xl">observer with root</h1>
      <div class="mb-5">
        <button class="bg-red-400 border-red-700 border-1 rounded p-2" @click="stop">stop observing title</button>
      </div>
      <div ref="root" class="border-2 border-red-700 p-10 overflow-scroll h-[500px]">
        <div class="h-[200px]"></div>
        <div class="h-[200px]"></div>
        <div class="h-[200px]"></div>
        <div
          ref="target"
          class="w-[100%] h-[200px] p-4 border-1"
          :class="[ isVisible ? 'bg-green-300 border-green-700' : 'bg-blue-300 border-blue-700']"
        >Ini target</div>
        <div class="h-[200px]"></div>
        <div class="h-[200px]"></div>
        <div class="h-[200px]"></div>
      </div>
    </div>
  </div>
</template>

<script setup>

useHead({
	title: 'observer with root'
})

const root = ref(null)
const target = ref(null)
const isVisible = ref(false)

const { stop } = useIntersectionObserver(
  target,
  ([{ isIntersecting }]) => {
    isVisible.value = isIntersecting
  },
  {
    root,
    rootMargin: '-40px 0px',
    threshold: 1.0
  }
)
</script>

<style lang="scss" scoped>
.idea-card {
  opacity: 0;
  transition: opacity .5s ease-in;
}
.show {
  animation: slide .5s ease-in;
  opacity: 1;
}

@keyframes slide {
  0% {
    transform: translateX(100%);
  }  
  100% {
    transform: translateX(0);
  }
}
</style>