<template>
  <div class="overflow-x-hidden">
    <div class="mx-auto mt-4 container">
      <h1 ref="title" class="mb-5 text-3xl">Ideas Intersection Observer</h1>
      <div class="mb-5">
        <button
          class="bg-red-400 border-red-700 border-1 rounded p-2"
          @click="stop"
        >
          stop observing title
        </button>
      </div>
      <ExampleInfiniteSrollingEx />
    </div>
  </div>
</template>

<script setup>
useHead({
  title: 'Ideas Intersection Observer'
})

const title = ref(null)

const { stop } = useIntersectionObserver(title, ([{ isIntersecting }]) => {
  // if (!isIntersecting) console.log('sudah keluar')
  // else console.log('masuk lagi')
})
</script>

<style lang="scss" scoped></style>
