<template>
  <main id="main" role="main" class="text-3xl">
    {{ $t('news') }}
  </main>
</template>

<script setup>
defineI18nRoute({
  paths: {
    id: '/berita',
    en: '/news'
  }
})
</script>

<style lang="scss" scoped></style>
