.alert-wrapper {
  @apply bg-black bg-opacity-40 text-black80;
  position: fixed;
  inset: 0;
  z-index: 100;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.alert-container,
.alert-component {
  @apply px-4 py-2 bg-black10 border border-black70;
  width: 80%;
  &.alert-component {
    width: 100%;
  }
  margin: auto;
  border-radius: 8px;
  display: flex;
  justify-content: space-between;

  & > div:first-child {
    flex-grow: 1;
  }

  & i {
    @apply cursor-pointer;
  }

  & h1,
  h2,
  h3,
  h4,
  h5,
  p {
    @apply mb-0;
    color: inherit;
  }

  &.alert--primary {
    @apply text-primary border-primary;
    background-color: #91d6ff;
  }

  &.alert--secondary {
    @apply text-secondary border-secondary;
    background-color: #cfd4d6;
  }
  &.alert--warning {
    @apply text-warning border-warning;
    background-color: #ffe2a3;
  }
  &.alert--danger {
    @apply text-danger border-danger;
    background-color: #fbaca3;
  }
  &.alert--black {
    @apply text-black border-black;
    background-color: #525252;
  }
  &.alert--light-grey {
    @apply bg-light-grey;
    color: #a0a0a0;
    border-color: #a0a0a0;
  }
  &.alert--white {
    @apply bg-white border-white;
    color: #cccccc;
    border-color: #cccccc;
  }

  & h5.title {
    @apply mb-2;
  }
}

.alert-section {
  & .alert {
    @apply mb-4;
  }
}
