.card {
  display: flex;
  flex-direction: column;
  min-width: 0;
  border: 1px solid;
  font-family: inherit;
  line-height: $base_line_height;

  & h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p {
    color: inherit;
  }

  .card--header,
  .card--body,
  .card--footer {
    padding: 8px 16px;
  }

  .card--header,
  .card--footer {
    background: palette('light-grey');
  }
}

@mixin cardStyle($color, $shade: dark) {
  @extend .card;

  border: 1px solid darken($color, 30%);
  background: $color;

  @if $shade == dark {
    color: #fff;
  } @else {
    color: #000;
  }

  .card--header,
  .card--footer {
    border-color: darken($color, 30%);
    background: darken($color, 15%);
  }
}

.card--image {
  width: 100%;
}

.card--header {
  border-bottom: 1px solid;
}

.card--body {
  flex: 1 1 auto;
}

.card--footer {
  border-top: 1px solid;
}

.card-group {
  display: flex;
  flex-flow: column wrap;

  .card {
    flex: 1 0 0%;
  }

  @media #{$medium} {
    flex-direction: row;

    .card {
      margin-left: 12px;
    }
  }

  &.bzg--flex {
    @media #{$medium} {
      .card {
        margin-left: 0;
      }
    }
  }
}

@each $state, $color in $palettes {
  .card--#{$state} {
    @include cardStyle($color);
  }
}

@each $state, $color in $light-palettes {
  .card--#{$state} {
    @include cardStyle($color, light);
  }
}
