.colors-page {
  & p > span {
    @apply text-transparent tracking-tighter;
  }
}

.bg-suitmedia {
  background-color: $suitmedia;
}

a {
  @apply text-primary;

  &:hover {
    color: darken($color: $primary, $amount: 20);
  }
}

.link-primary {
  @apply text-primary;

  &:hover {
    color: darken($color: $primary, $amount: 20);
  }
}

.link-secondary {
  @apply text-secondary;
  &:hover {
    color: darken($color: $secondary, $amount: 20);
  }
}

.link-warning {
  @apply text-warning;

  &:hover {
    color: darken($color: $warning, $amount: 20);
  }
}

.link-danger {
  @apply text-danger;

  &:hover {
    color: darken($color: $danger, $amount: 20);
  }
}

.link-black {
  @apply text-black;

  &:hover {
    color: lighten($color: $black, $amount: 20);
  }
}
.link-light-grey {
  @apply text-light-grey;

  &:hover {
    color: darken($color: $light-grey, $amount: 30);
  }
}
.link-white {
  @apply text-white;

  &:hover {
    color: darken($color: $white, $amount: 40);
  }
}
