.heading-page {
  & h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p {
    @apply mb-4;
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  @apply mb-4;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
}

h1,
.h1 {
  @apply text-[2.4em];
  line-height: 1em;
}

h2,
.h2 {
  @apply text-[2em];
  line-height: 1.15em;
}

h3,
.h3 {
  @apply text-[1.725em];
  line-height: 1.38em;
}
h4,
.h4 {
  @apply text-[1.44em];
  line-height: 1.1em;
}
h5,
.h5 {
  @apply text-[1.2em];
  line-height: 1.33em;
}
h6,
.h6 {
  @apply text-base;
  line-height: 1.6em;
}
