.list-section {
}

ol {
  @apply pl-10 mb-4;
  list-style-type: decimal;

  &[type='1'] {
    list-style-type: lower-alpha;
  }
  &[type='A'] {
    list-style-type: upper-alpha;
  }
  &[type='a'] {
    list-style-type: lower-alpha;
  }
  &[type='I'] {
    list-style-type: upper-roman;
  }
  &[type='i'] {
    list-style-type: lower-roman;
  }
}

ul {
  @apply pl-10 list-disc mb-4;

  & ul {
    list-style-type: circle;

    & ul {
      list-style-type: square;
    }
  }
}

.list-inline > li {
  display: inline-block;
}

.list-nostyle {
  list-style: none;
  padding-left: 0px;
}
