.table {
  width: 100%;
  & thead {
    color: #fff;
    background: $black70;
  }

  & tbody {
    tr:nth-child(even) {
      @apply bg-black10 bg-opacity-30;
    }
  }

  & th,
  td {
    padding: 8px;
    border: solid 1px $black20 !important;
    font-size: 90%;
  }
}

.table-wrapper {
  overflow: scroll;
  -webkit-overflow-scrolling: touch;

  @media #{$large} {
    overflow: visible;
  }
}
