<template>
  <main id="main" role="main" class="text-3xl">
    <UtilsBreadCrumbs />{{ $t('aboutUs') }}
    <div>cokkkk</div>
  </main>
</template>

<script setup>
defineI18nRoute({
  paths: {
    id: '/tentang-kami',
    en: '/about-us'
  }
})
</script>

<style lang="scss" scoped></style>
