<template>
  <div class="">
    <Header :is-splash="false" />
    <div class="flex">
      <Sidebar />
      <main class="default">
        <div class="container">
          <slot />
          <Footer />
        </div>
      </main>
    </div>
  </div>
</template>

<script setup>
const route = useRoute()
const config = useRuntimeConfig()

useHead(() => ({
  link: [
    {
      rel: 'canonical',
      href: `${config.public.BASE_URL}${route.path}`
    }
  ]
}))

// watch(
//   () => route.path,
//   () => {
//     skipLink.value.focus()
//   }
// )
</script>

<style lang="scss" scoped>
.skip-link {
  white-space: nowrap;
  margin: 1em auto;
  top: 0;
  position: fixed;
  left: 50%;
  margin-left: -72px;
  opacity: 0;
  z-index: 50;
}
.skip-link:focus {
  opacity: 1;
  background-color: white;
  padding: 0.5em;
  border: 1px solid black;
}
</style>
