<template>
  <div class="splash-screen">
    <Header :is-splash="true" />
    <main class="flex justify-center items-center h-full w-full">
      <slot />
    </main>
    <footer
      class="fixed bottom-7 text-sm flex justify-center items-center w-full text-white"
    >
      <span>Version 2.20.0</span> <span class="mx-16">|</span>
      <span
        >Powered by:
        <a class="link-white" href="https://suitmedia.com/" target="blank"
          >Suitmedia.com</a
        ></span
      >
    </footer>
  </div>
</template>
