<template>
    <div class="mx-auto mt-4 container">
        <h1>Ideas</h1>
        <h3 v-if="isLoading">Pending {{ isLoading }}</h3>
        <template v-else>
          <v-select
          v-model="selectSort"
					class="w-1/3 my-4"
					:options="[{
            label: 'Latest',
            value: '-updated_at'
          },{
            label: 'Oldest',
            value: 'updated_at'
          }]"
          @update:model-value="onSort"
          >
          </v-select>
          <div class="flex flex-wrap gap-4">
            <div v-for="idea in ideas.data" :key="idea.id" class="p-4 rounded mr-2 border-[2px] border-green-700">
                {{ idea.title }}
            </div>
          </div>
          <pagination
            :total-pages="ideas.meta.last_page"
            :total-items="ideas.meta.total"
            :current-page="ideas.meta.current_page"
            @pagechanged="toPage"
          />
        </template>
    </div>
</template>

<script setup>
useHead({
	title: 'Ideas'
})

const router = useRouter()
const route = useRoute()

const queries = {
	page: ref(1),
	sort: ref('-updated_at')
}

const selectSort = ref({label: 'Latest', value: '-updated_at'})

const ideas = ref({})

const isLoading = ref(true)

const getIdeas = async () => {
  isLoading.value = true
	const rQ = route.query
	const page = rQ.p === undefined ? 1 : rQ.p
	const sort = rQ.s === undefined ? '-updated_at' : rQ.s

	queries.page.value = page
	queries.sort.value = sort

  const {data, error, pending} = await useFetchIdeas({
    query: {
			'page[number]': queries.page,
			'page[size]': 12,
			'filter[published_until]': getToday(),
			append: ['medium_image'],
			sort: queries.sort
		}
  })

  isLoading.value = pending.value
	ideas.value = data.value

  if(error.value){
    throw createError({
      statusCode: 404,
      message: `Ideas does not exist`
    })
  }
}

const pushQuery = () => {
  const currentPage = queries.page.value
	const selectedSort = queries.sort.value

  router.push({
    query: {
			p: currentPage,
			s: selectedSort
		}
  })
}

const toPage = (currentPage) => {
	queries.page.value = currentPage

	pushQuery()
}

const onSort = () => {
	queries.page.value = 1
  queries.sort.value = selectSort.value.value
	pushQuery()
}

await getIdeas()

watch(
	() => route.query,
	() => {
		getIdeas()
	}
)




</script>

<style lang="scss" scoped>

</style>