<template>
  <div class="bg-white shadow-md rounded-md py-1 px-2">
    <div class="flex justify-between">
      <div>#{{ pokemon?.id }}</div>
    </div>
    <div class="mb-6">
      <div class="w-28 h-28 px-2 py-2 from-current mx-auto pokemon--img">
        <img
          :src="pokemon?.sprites.other['official-artwork'].front_default"
          :alt="pokemon?.name"
          width="96px"
          loading="lazy"
        />
      </div>
    </div>
    <div class="h5 text-center font-bold text-black80 mb-6">
      {{ pokemon?.name }}
    </div>
    <div class="bzg mb-4">
      <div
        class="bzg_c flex items-center justify-center flex-col"
        data-col="m6"
      >
        <div class="text-black50 text-sm font-medium">Height</div>
        <div class="text-black80 text font-bold">{{ pokemon?.height }}m</div>
      </div>
      <div
        class="bzg_c flex items-center flex-col justify-center"
        data-col="m6"
      >
        <div class="text-black50 text-sm font-medium">Weight</div>
        <div class="text-black80 text font-bold">{{ pokemon?.weight }}kg</div>
      </div>
    </div>
    <div class="text-sm text-center mb-4">
      <span class="text-black50">Type: </span>
      <span class="text-black80 font-bold">{{
        pokemon?.types
          .map(e => e.type.name.charAt(0).toUpperCase() + e.type.name.slice(1))
          .join(' / ')
      }}</span>
    </div>
  </div>
</template>

<script setup lang="ts">
import { type Pokemon } from './types'

const pokemon = ref<Pokemon | null>(null)
const props = defineProps({
  name: {
    type: String,
    required: true
  }
})

const getPokemonData = async () => {
  const { data } = await usePokeapiData(`pokemon/${props.name}`)
  pokemon.value = data.value
}

getPokemonData()
// console.log(pokemon.value?.types)
</script>

<style lang="scss">
.pokemon--img {
  background: linear-gradient(
    180deg,
    rgba(215, 223, 233, 0.81) 0%,
    rgba(233, 239, 246, 0.17) 100%
  );
  border-radius: 100px;
  box-shadow: 0px 0px 0px 10px #ecf5ff60;
}
</style>
