<template>
  <div class="alert-section">
    <div class="mb-4">
      <h2 class="title">Alert</h2>
      <Alert :is-open="true" as="component">Alert Default</Alert>
      <Alert :is-open="true" as="component" variant="primary">
        Alert Default
      </Alert>
      <Alert :is-open="true" as="component" variant="secondary">
        Alert Secondary
      </Alert>
      <Alert :is-open="true" as="component" variant="warning">
        Alert Warning
      </Alert>
      <Alert :is-open="true" as="component" variant="danger">
        Alert Danger
      </Alert>
      <Alert :is-open="true" as="component" variant="black">Alert Black</Alert>
      <Alert :is-open="true" as="component" variant="light-grey">
        Alert Light Grey
      </Alert>
      <Alert :is-open="true" as="component" variant="white">
        Alert White
      </Alert>
      <highlightjs lang="xml" class="highlight" :code="code.alert" />
    </div>
    <hr />
    <div>
      <h2 class="title">Alert Box</h2>
      <AlertPopup />
      <AlertTitle />
      <AlertCloseIcon />
      <highlightjs lang="xml" class="highlight" :code="code.box" />
    </div>
  </div>
</template>

<script setup>
import code from '../data/code/alerts.json'
</script>
