<template>
  <div class="card-section">
    <div>
      <h2 class="title">Flex Card</h2>
      <div class="card-group mb-4">
        <div class="card--primary">
          <div class="card--header">Card header</div>
          <img class="card--image" src="/assets/img/site-logo.png" alt="" />
          <div class="card--body">
            <h5>Card</h5>
            <p class="mb-0">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit.
              Dignissimos quia consectetur quibusdam repudiandae!
            </p>
          </div>
          <div class="card--footer">Card footer</div>
        </div>
        <div class="card--secondary">
          <div class="card--header">Card header</div>
          <img class="card--image" src="/assets/img/site-logo.png" alt="" />
          <div class="card--body">
            <h5>Card</h5>
            <p class="mb-0">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
              eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
              enim ad minim veniam, quis nostrud exercitation ullamco laboris
              nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
              reprehenderit in voluptate velit esse cillum dolore eu fugiat
              nulla pariatur. Excepteur sint occaecat cupidatat non proident,
              sunt in culpa qui officia deserunt mollit anim id est laborum.
            </p>
          </div>
          <div class="card--footer">Card footer</div>
        </div>
        <div class="card--light-grey">
          <div class="card--header">Card header</div>
          <img class="card--image" src="/assets/img/site-logo.png" alt="" />
          <div class="card--body">
            <h5>Card</h5>
            <p class="mb-0">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. A veniam
              rerum nihil laboriosam, architecto sequi dolor doloribus impedit
              totam voluptatibus earum vel exercitationem quas commodi. Quidem,
              fugit corrupti beatae accusantium!
            </p>
          </div>
        </div>
        <div class="card">
          <img class="card--image" src="/assets/img/site-logo.png" alt="" />
          <div class="card--body">
            <h5>Card</h5>
            <p class="mb-0">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. A veniam
              rerum nihil laboriosam, architecto sequi dolor doloribus impedit
              totam voluptatibus earum vel exercitationem quas commodi. Quidem,
              fugit corrupti beatae accusantium!
            </p>
          </div>
          <div class="card--footer">Card footer</div>
        </div>
      </div>
      <highlightjs lang="xml" class="highlight" :code="code.flex" />
    </div>
    <hr />
    <div>
      <h2 class="title">Baze Grid Card</h2>
      <div class="bzg bzg--flex">
        <div
          v-for="(data, i) in randomSample(datas)"
          :key="i"
          class="bzg_c mb-4"
          data-col="s12,m6,l3"
        >
          <div class="card--primary">
            <div class="card--header">Header title</div>
            <a href="#">
              <img class="card--image" :src="data.image" alt="" />
            </a>
            <div class="card--body">
              <h5>{{ data.title }}</h5>
              <p class="text-right">{{ data.date }}</p>
              <p class="mb-0">
                {{ data.description }}
              </p>
            </div>
            <div class="card--footer">Footer title</div>
          </div>
        </div>
      </div>
      <highlightjs lang="xml" class="highlight" :code="code.bzg" />
    </div>
  </div>
</template>

<script setup>
import code from '../data/code/card.json'
import datas from '../data/cardData.json'

function randomSample(dataArray) {
  const salinanArray = dataArray.slice()
  const dataAcak = []

  for (let i = 0; i < 8; i++) {
    const indeksAcak = Math.floor(Math.random() * salinanArray.length)
    dataAcak.push(salinanArray[indeksAcak])
  }

  return dataAcak
}
</script>
