<template>
  <div>
    <div>
      <h2 class="title">Font Awesome</h2>
      <h5 class="mb-0">Font Awesome Solid</h5>
      <i class="fas fa-bell"></i>
      <h5 class="mb-0">Font Awesome Regular</h5>
      <i class="far fa-bell"></i>
    </div>
  </div>
</template>
