<template>
  <div class="get-started">
    <h2 class="title">Environment</h2>
    <div>
      <ul>
        <li>
          <p>
            <strong>NodeJS</strong> versi 20 ke atas. Node harus di-install
            sebelum meng-install lainnya.
          </p>
          <p>
            <NuxtLink to="https://nodejs.org/en/">Install</NuxtLink> |
            <NuxtLink to="https://nodejs.org/dist/latest-v4.x/docs/api/">
              Dokumentasi
            </NuxtLink>
          </p>
        </li>
        <li>
          <p>
            <strong>Yeoman.</strong> Jalankan perintah di bawah di command
            prompt.
          </p>
          <highlightjs lang="bash" class="highlight" :code="code.yeoman" />
        </li>
        <li>
          <p>
            <strong>Gulp.</strong> Jalankan perintah di bawah di command prompt.
          </p>
          <highlightjs lang="bash" class="highlight" :code="code.gulp" />
        </li>
        <li>
          <p>
            <strong>Git</strong>
          </p>
          <p>
            <NuxtLink to="http://www.git-scm.com/download/">Install</NuxtLink> |
            <NuxtLink to="https://github.s3.amazonaws.com/media/progit.en.pdf">
              Pro Git (PDF)
            </NuxtLink>
          </p>
        </li>
        <li>
          <p>
            <strong>XAMPP</strong>
          </p>
          <p>
            <NuxtLink to="https://www.apachefriends.org/index.html">
              Install
            </NuxtLink>
          </p>
        </li>
        <li>
          <p>
            <strong>Generator Baze</strong>
          </p>
          <p>
            Install
            <NuxtLink to="https://github.com/suitmedia/generator-suit-baze">
              generator baze
            </NuxtLink>
            dengan menjalankan perintah di bawah ini.
          </p>
          <highlightjs lang="bash" class="highlight" :code="code.baze" />
          <p>Untuk install ke dalam project frontend, jalankan</p>
          <highlightjs lang="bash" class="highlight" :code="code.yoBaze" />
        </li>
      </ul>
    </div>
  </div>
</template>

<script setup>
import code from '../data/code/get-started.json'
defineI18nRoute({
  paths: {
    id: '/get-started',
    en: '/get-started'
  }
})
</script>
