<template>
  <div class="grid-section">
    <div>
      <h2 class="title">Default Grid</h2>
      <div class="bzg">
        <div class="bzg_c" data-col="m3">
          <div>bzg_c m3</div>
        </div>
        <div class="bzg_c" data-col="m3">
          <div>bzg_c m3</div>
        </div>
        <div class="bzg_c" data-col="m3">
          <div>bzg_c m3</div>
        </div>
        <div class="bzg_c" data-col="m3">
          <div>bzg_c m3</div>
        </div>
      </div>
      <div class="bzg">
        <div class="bzg_c" data-col="m4">
          <div>bzg_c m4</div>
        </div>
        <div class="bzg_c" data-col="m4">
          <div>bzg_c m4</div>
        </div>
        <div class="bzg_c" data-col="m4">
          <div>bzg_c m4</div>
        </div>
      </div>
      <highlightjs lang="xml" class="highlight" :code="code.default" />
    </div>
    <hr />
    <div>
      <h2 class="title">No-Gutter Grid</h2>
      <div class="bzg bzg--no-gutter">
        <div class="bzg_c" data-col="m1">
          <div>bzg_c m1</div>
        </div>
        <div class="bzg_c" data-col="m1">
          <div>bzg_c m1</div>
        </div>
        <div class="bzg_c" data-col="m1">
          <div>bzg_c m1</div>
        </div>
        <div class="bzg_c" data-col="m1">
          <div>bzg_c m1</div>
        </div>
        <div class="bzg_c" data-col="m1">
          <div>bzg_c m1</div>
        </div>
        <div class="bzg_c" data-col="m1">
          <div>bzg_c m1</div>
        </div>
        <div class="bzg_c" data-col="m1">
          <div>bzg_c m1</div>
        </div>
        <div class="bzg_c" data-col="m1">
          <div>bzg_c m1</div>
        </div>
        <div class="bzg_c" data-col="m1">
          <div>bzg_c m1</div>
        </div>
        <div class="bzg_c" data-col="m1">
          <div>bzg_c m1</div>
        </div>
        <div class="bzg_c" data-col="m1">
          <div>bzg_c m1</div>
        </div>
        <div class="bzg_c" data-col="m1">
          <div>bzg_c m1</div>
        </div>
      </div>
      <div class="bzg bzg--no-gutter">
        <div class="bzg_c" data-col="m2">
          <div>bzg_c m2</div>
        </div>
        <div class="bzg_c" data-col="m2">
          <div>bzg_c m2</div>
        </div>
        <div class="bzg_c" data-col="m2">
          <div>bzg_c m2</div>
        </div>
        <div class="bzg_c" data-col="m2">
          <div>bzg_c m2</div>
        </div>
        <div class="bzg_c" data-col="m2">
          <div>bzg_c m2</div>
        </div>
        <div class="bzg_c" data-col="m2">
          <div>bzg_c m2</div>
        </div>
      </div>
      <div class="bzg bzg--no-gutter">
        <div class="bzg_c" data-col="m3">
          <div>bzg_c m3</div>
        </div>
        <div class="bzg_c" data-col="m3">
          <div>bzg_c m3</div>
        </div>
        <div class="bzg_c" data-col="m3">
          <div>bzg_c m3</div>
        </div>
        <div class="bzg_c" data-col="m3">
          <div>bzg_c m3</div>
        </div>
      </div>
      <div class="bzg bzg--no-gutter">
        <div class="bzg_c" data-col="m4">
          <div>bzg_c m4</div>
        </div>
        <div class="bzg_c" data-col="m4">
          <div>bzg_c m4</div>
        </div>
        <div class="bzg_c" data-col="m4">
          <div>bzg_c m4</div>
        </div>
      </div>
      <div class="bzg bzg--no-gutter">
        <div class="bzg_c" data-col="m6">
          <div>bzg_c m6</div>
        </div>
        <div class="bzg_c" data-col="m6">
          <div>bzg_c m6</div>
        </div>
      </div>
      <div class="bzg bzg--no-gutter">
        <div class="bzg_c" data-col="m7">
          <div>bzg_c m7</div>
        </div>
        <div class="bzg_c" data-col="m5">
          <div>bzg_c m5</div>
        </div>
      </div>
      <div class="bzg bzg--no-gutter">
        <div class="bzg_c" data-col="m12">
          <div>bzg_c m12</div>
        </div>
      </div>
      <highlightjs class="highlight" lang="xml" :code="code.noGutter" />
    </div>
    <hr />
    <div>
      <h2 class="title">Grid with Offset</h2>
      <div class="bzg bzg--no-gutter">
        <div class="bzg_c" data-col="m2">
          <div>bzg_c m2</div>
        </div>
        <div class="bzg_c" data-col="m5" data-offset="m5">
          <div>bzg_c m5 offset=m5</div>
        </div>
      </div>
      <div class="bzg bzg--no-gutter">
        <div class="bzg_c" data-col="m3" data-offset="m3">
          <div>bzg_c m3 offset=m3</div>
        </div>
        <div class="bzg_c" data-col="m3" data-offset="m3">
          <div>bzg_c m3 offset=m3</div>
        </div>
      </div>
      <div class="bzg bzg--no-gutter">
        <div class="bzg_c" data-col="m6" data-offset="m3">
          <div>bzg_c m6 offset=m3</div>
        </div>
      </div>
      <highlightjs class="highlight" lang="xml" :code="code.withOffset" />
    </div>
    <hr />
    <div>
      <h2 class="title">Responsive Grid</h2>
      <div class="bzg bzg--no-gutter">
        <div class="bzg_c" data-col="s12,m9,l6">
          <div>bzg_c s12,m9,l6</div>
        </div>
        <div class="bzg_c" data-col="s6,m3,l6">
          <div>bzg_c s6,m3,l6</div>
        </div>
      </div>
      <highlightjs class="highlight" lang="xml" :code="code.responsive" />
    </div>
  </div>
</template>

<script setup>
import code from '../data/code/grid.json'
</script>
