<template>
  <div
    class="text-fira flex justify-center items-center flex-col max-w-[820px]"
  >
    <nuxt-img
      src="/assets/img/baze-active-icon.png"
      sizes="(max-width: 28em) 75px, 125px"
      class="mb-6"
    />
    <h3 class="text-3xl mb-8 text-center text-white">
      A minimal setup for your frontend environment
    </h3>
    <div class="flex gap-x-4 gap-y-2">
      <Button as="link" url="/get-started" class-name="btn--suitmedia">
        Get Started
      </Button>
      <Button
        :on-click="handleDownload"
        variant="outlined"
        color="white"
        class-name="download"
        >DOWNLOAD</Button
      >
    </div>
  </div>
</template>

<script setup>
definePageMeta({
  layout: 'splash'
})

const handleDownload = async () => {
  await navigateTo('https://github.com/suitmedia/suit-baze', {
    open: {
      target: '_blank'
    }
  })
}
</script>
