<template>
  <div class="input-section">
    <div>
      <h2 class="title">Input Size</h2>
      <Input size="s" placeholder="Small Size" />
      <Input size="m" placeholder="Medium Size" />
      <Input size="l" placeholder="Large Size" />
      <Input size="xl" placeholder="Extra Large Size" />
      <highlightjs lang="xml" class="highlight" :code="code.size" />
    </div>
    <hr />
    <div>
      <h2 class="title">Input Width</h2>
      <Input placeholder="Width Auto" />
      <Input placeholder="Width Full" width="full" />
      <highlightjs lang="xml" class="highlight" :code="code.width" />
    </div>
    <hr />
    <div>
      <h2 class="title">Input Type</h2>
      <Input placeholder="Text (Default)" width="full" type="text" />
      <Input placeholder="Number" width="full" type="number" />
      <Input placeholder="Password" width="full" type="password" />
      <Input placeholder="Email" width="full" type="email" />
      <Input placeholder="Date" width="full" type="date" />
      <Input placeholder="Time" width="full" type="time" />
      <Input placeholder="Text Area" width="full" type="textarea" />
      <highlightjs lang="xml" class="highlight" :code="code.type" />
    </div>
    <hr />
    <div>
      <h2 class="title">Input State</h2>
      <Input placeholder="Default" width="full" />
      <Input placeholder="Error State" :error="true" width="full" />
      <Input placeholder="Disabled State" :disabled="true" width="full" />
      <highlightjs lang="xml" class="highlight" :code="code.state" />
    </div>
    <hr />
    <div>
      <h2 class="title">Input Accessory</h2>
      <Input placeholder="Default" width="full" />
      <Input placeholder="Left Icon Accessory" width="full">
        <template #left-accessory>
          <i class="fas fa-envelope w-4 text-gray-500"></i>
        </template>
      </Input>
      <Input placeholder="Right Icon Accessory" width="full">
        <template #right-accessory>
          <i class="fas fa-calendar w-4 text-gray-500"></i>
        </template>
      </Input>
      <Input placeholder="Left & Right Icon Accessory" width="full">
        <template #left-accessory>
          <i class="fas fa-envelope w-4 text-gray-500"></i>
        </template>
        <template #right-accessory>
          <i class="fas fa-calendar w-4 text-gray-500"></i>
        </template>
      </Input>
      <Input placeholder="Custom Element Accessory" width="full">
        <template #left-accessory>
          <span>https://</span>
        </template>
      </Input>
      <highlightjs class="highlight" lang="xml" :code="code.accessory" />
    </div>
    <hr />
  </div>
</template>

<script setup>
import code from '../data/code/input.json'
</script>
