<template>
  <div class="list-section">
    <h2 class="title">Lists</h2>
    <div>
      <h5>Ordered List</h5>
      <ol>
        <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</li>
        <li>
          Incidunt magni consequatur adipisci officiis vero placeat consectetur
        </li>
        <li>
          id facere,
          <ol type="a">
            <li>molestiae in,</li>
            <li>ducimus necessitatibus hic ad esse consequuntur</li>
          </ol>
        </li>
        <li>dignissimos sequi illum doloremque.</li>
      </ol>
      <highlightjs class="highlight" lang="xml" :code="code.orderedList" />
    </div>
    <div>
      <h5>Unordered List</h5>
      <ul>
        <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</li>
        <li>
          Incidunt magni consequatur adipisci officiis vero placeat consectetur
        </li>
        <li>
          id facere,
          <ul>
            <li>molestiae in,</li>
            <li>ducimus necessitatibus hic ad esse consequuntur</li>
          </ul>
        </li>
        <li>dignissimos sequi illum doloremque.</li>
      </ul>
      <highlightjs class="highlight" lang="xml" :code="code.unorderedList" />
    </div>
    <div>
      <h5>Inline List</h5>
      <ol class="list-inline">
        <li>Lorem ></li>
        <li>Ipsum ></li>
        <li>Dolor</li>
      </ol>
      <highlightjs class="highlight" lang="xml" :code="code.inlineList" />
    </div>
    <div>
      <h5>No Style List</h5>
      <ul class="list-nostyle">
        <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</li>
        <li>
          Incidunt magni consequatur adipisci officiis vero placeat consectetur
        </li>
        <li>
          id facere,
          <ul>
            <li>molestiae in,</li>
            <li>ducimus necessitatibus hic ad esse consequuntur</li>
          </ul>
        </li>
        <li>dignissimos sequi illum doloremque.</li>
      </ul>
      <highlightjs class="highlight" lang="xml" :code="code.noStyle" />
    </div>
  </div>
</template>

<script setup>
import code from '../data/code/lists.json'
defineI18nRoute({
  paths: {
    id: '/lists',
    en: '/lists'
  }
})
</script>
