<template>
  <div class="media-object-section">
    <div>
      <h2 class="title">Media Objects</h2>
      <figure class="media">
        <div class="media-figure">
          <img
            src="/assets/img/site-logo.png"
            class="w-16"
            alt="media-object"
          />
        </div>
        <div class="media-content">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam
          incidunt tempora ratione sapiente, nesciunt consectetur officiis
          commodi soluta. Sit sapiente veritatis non quia vitae, facilis nam
          rerum, reprehenderit modi. Fugiat?
        </div>
      </figure>
      <highlightjs class="highlight" lang="xml" :code="code.mediaObject" />
    </div>
    <hr />
    <div>
      <h2 class="title">With Title, Button, and Link</h2>
      <figure class="media">
        <div class="media-figure">
          <img
            src="/assets/img/site-logo.png"
            alt="media-object"
            width="150px"
          />
        </div>
        <div class="media-content">
          <h4 class="media-title text-primary">Title</h4>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
            ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
            aliquip ex ea commodo consequat. Duis aute irure dolor in
            reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
            pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
            culpa qui officia deserunt mollit anim id est laborum.
          </p>
          <p class="mb-0 flex items-center gap-x-2">
            <Button size="small">
              <i class="fas fa-thumbs-up"></i>
            </Button>
            <a href="#">Visit somewhere...</a>
          </p>
        </div>
      </figure>
      <highlightjs class="highlight" lang="xml" :code="code.withTitle" />
    </div>
  </div>
</template>
<script setup>
import code from '../data/code/mediaObject.json'
</script>
