<template>
  <div>
    <h2 class="title">Pokemon</h2>
    <div v-if="isLoading">Loading</div>
    <div v-else class="bzg bzg--no-gutter">
      <div
        v-for="(data, i) in pokemons"
        :key="i"
        class="bzg_c px-4 py-2"
        data-col="m3"
      >
        <PokemonCard :name="data.name" />
      </div>
    </div>
  </div>
</template>

<script setup>
const pokemons = ref([])
const isLoading = ref(true)

const getAllPokemonData = async () => {
  const { data, pending } = await usePokeapiData('pokemon?offset=30&limit=20')
  isLoading.value = pending.value
  pokemons.value = data.value.results
}
getAllPokemonData()
</script>
