<template>
  <div class="responsive-image-section">
    <div>
      <h2 class="title">Responsive Image (Resolution Switch)</h2>
      <img
        srcset="
          assets/img/koala-100x100.jpg    100w,
          assets/img/koala-500x500.jpg    500w,
          assets/img/koala-1010x1010.jpg 1010w
        "
        sizes="(max-width: 28em) 100px,
            (max-width: 75em) 500px,
            1010px"
        src="assets/img/koala-100x100.jpg"
        alt="Koala Doll"
      />
      <highlightjs class="highlight" lang="xml" :code="resolustionSwitch" />
    </div>
    <hr />
    <div>
      <h2 class="title">Responsive Image (Picture Tag)</h2>
      <picture>
        <source
          media="(min-width: 64em)"
          srcset="assets/img/koala-1200x754.jpg"
        />
        <source
          media="(min-width: 28em)"
          srcset="assets/img/koala-600x377.jpg"
        />
        <img src="assets/img/koala-290x290.jpg" alt="Mother and baby koala" />
      </picture>
      <highlightjs class="highlight" lang="xml" :code="pictureTag" />
    </div>
  </div>
</template>

<script setup>
const resolustionSwitch = `<img
srcset="
  assets/img/koala-100x100.jpg    100w,
  assets/img/koala-500x500.jpg    500w,
  assets/img/koala-1010x1010.jpg 1010w
"
sizes="(max-width: 28em) 100px,
    (max-width: 75em) 500px,
    1010px"
src="assets/img/koala-100x100.jpg"
alt="Koala Doll"
/>`

const pictureTag = `<picture>
  <source
    media="(min-width: 64em)"
    srcset="assets/img/koala-1200x754.jpg"
  />
  <source media="(min-width: 28em)" srcset="assets/img/koala-600x377.jpg" />
  <img src="assets/img/koala-290x290.jpg" alt="Mother and baby koala" />
</picture>`
</script>
