<template>
  <div>
    <div>
      <h2 class="title">Tabs</h2>
      <TabExampleDefault />
      <highlightjs class="highlight" lang="xml" :code="code.default" />
    </div>
    <hr />
    <div>
      <h2 class="title">Justified Tabs</h2>
      <TabExampleJustified />
      <highlightjs class="highlight" lang="xml" :code="code.justified" />
    </div>
  </div>
</template>

<script setup>
import code from '../data/code/tabs.json'
</script>
