<template>
  <div>
    <p>Using text interpolation: {{ rawHtml }}</p>
    <p>Using v-html directive: <span v-html="rawHtml"></span></p>
    <div class="raw2" v-html="raw2"></div>
    <div class="raw3">
      label:
      <Input />
    </div>
  </div>
</template>
<script setup>
const rawHtml = `<span class="text-danger">This should be red.</span>`
const raw2 = `<p>Lorem ipsum <a href="#">test link</a></p>`
</script>

<style lang="scss" scoped>
.raw2 :deep(a) {
  @apply text-danger;
}

.raw3 {
  :deep(input) {
    background-color: red;
  }
}
</style>

<!-- <style lang="scss">
.raw2 :deep(a) {
  @apply text-danger;
}

.raw3 {
  input {
    background-color: red;
  }
}
</style> -->
