<template>
  <div :class="`tab-group tab-group--${isJustified}`">
    <slot></slot>
  </div>
</template>

<script setup>
defineProps({
  isJustified: {
    type: Boolean,
    required: true,
    default: false
  }
})
</script>
