<template>
  <div :class="`tab-index tab-index--${index == value}`" @click="handleChange">
    {{ label }}
  </div>
</template>

<script setup>
const props = defineProps({
  label: {
    type: String,
    required: false,
    default: ''
  },
  index: { type: Number, required: true },
  value: { type: Number, required: true }
})
const emit = defineEmits(['change'])

const handleChange = () => {
  emit('change', props.index)
}
</script>
