<template>
  <div v-if="index === value" class="tab--panel">
    <slot></slot>
  </div>
</template>

<script setup>
defineProps({
  index: { type: Number, required: true },
  value: { type: Number, required: true }
})
</script>
