<template>
  <div
    v-if="as == 'component'"
    :class="`alert--${variant}`"
    class="alert-component alert"
  >
    <slot />
  </div>
  <div v-else class="alert">
    <div
      v-if="isOpen"
      ref="containerRef"
      class="alert-wrapper"
      @click="handleClickOutside"
    >
      <div
        ref="wrapperRef"
        :class="`alert--${variant}`"
        class="alert-container"
      >
        <div>
          <h5 v-if="title != null" class="title">{{ title }}</h5>
          <slot />
        </div>
        <span v-if="closeIcon" class="close-icon" @click="handleClose">
          <i class="fas fa-times"></i>
        </span>
      </div>
    </div>
  </div>
</template>

<script setup>
defineProps({
  variant: {
    type: String,
    required: false,
    default: ''
  },
  class: {
    type: String,
    required: false,
    default: ''
  },
  isOpen: {
    type: Boolean,
    required: true,
    default: false
  },
  title: {
    type: String,
    required: false,
    default: ''
  },
  closeIcon: {
    type: Boolean,
    required: false,
    default: false
  },
  as: {
    type: String,
    required: false,
    default: 'modal'
  }
})
const emit = defineEmits(['change'])
const containerRef = ref(null)
const wrapperRef = ref(null)

const handleClose = () => {
  emit('change', false)
}

const handleClickOutside = e => {
  if (!containerRef && !wrapperRef) {
    return
  }
  if (!wrapperRef.value.contains(e.target)) {
    emit('change', false)
  }
}
</script>
