<template>
  <div>
    <Button @click="openAlert">Alert Pop Up</Button>
    <Alert :is-open="isOpen" @change="handleChange">
      <p>Detailed description and advice about the message.</p>
    </Alert>
  </div>
</template>

<script setup>
const isOpen = ref(false)
const handleChange = e => {
  isOpen.value = e
}

const openAlert = () => {
  isOpen.value = true
}
</script>
