<template>
  <div>
    <Button @click="openAlert">Alert with Title</Button>
    <Alert
      :is-open="isOpen"
      variant="warning"
      title="Message Title"
      @change="handleChange"
    >
      <p>Detailed description and advice about the message.</p>
    </Alert>
  </div>
</template>

<script setup>
const isOpen = ref(false)
const handleChange = e => {
  isOpen.value = e
}

const openAlert = () => {
  isOpen.value = true
}
</script>
